<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='quem_somos.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Akshar:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">

      <h1 class="Teste">HADUKENNN</h1>


      <div class="rodap">
        <div class="rodap-child"></div>
        <div class="contato-exemplo-1-container">
          <p class="contato">CONTATO</p>
          <p class="blank-line">Exemplo 1</p>
          <p class="blank-line">Exemplo 2</p>
          <p class="blank-line">Exemplo 3</p>
          <p class="blank-line">Exemplo 4</p>
        </div>
        <div class="links-externos-exemplo-container">
          <p class="contato">Links Externos</p>
          <p class="blank-line">Exemplo 1</p>
          <p class="blank-line">Exemplo 2</p>
          <p class="blank-line">Exemplo 3</p>
          <p class="blank-line">Exemplo 4</p>
        </div>
        <img class="image-6-icon" alt="" src="./public/image-6@2x.png" />
      </div>
      <div class="quem-somos" data-animate-on-scroll>
        <div class="quem-somos1">
          <div class="fundo-vit"></div>
          <div class="scrum-master-vitor">Scrum Master: Vitor</div>
          <div class="mold-vit"></div>
          <img class="img-vit-icon" alt="" src="./public/imgvit@2x.png" />
          <div class="fundo-lil"></div>
          <div class="product-owner-lilian">Product Owner: Lilian Ferrão</div>
          <div class="mold-lil"></div>
          <img class="img-lil-icon" alt="" src="./public/imglil@2x.png" />
          <div class="quem-somos-child"></div>
          <b class="quem-somos2">Quem Somos?</b>
        </div>
        <div class="team" data-animate-on-scroll>
          <div class="fundo"></div>
          <div class="rodrigo">Rodrigo</div>
          <img class="img-rod-icon" alt="" src="./public/imgrod@2x.png" />
          <div class="katiane-soares">Katiane Soares</div>
          <img class="img-kat-icon" alt="" src="./public/imgkat@2x.png" />
          <div class="bruno">Bruno</div>
          <img class="img-bru-icon" alt="" src="./public/imgbru@2x.png" />
          <div class="marcus-betti">Marcus Betti</div>
          <img class="img-mar-icon" alt="" src="./public/imgmar@2x.png" />
          <div class="gabriela">Gabriela</div>
          <img class="img-gab-icon" alt="" src="./public/imggab@2x.png" />
          <div class="douglas-medeiros">Douglas Medeiros</div>
          <img class="img-dog-icon" alt="" src="./public/imgdog@2x.png" />
          <div class="devteam"></div>
          <div class="development-team">Development Team</div>
        </div>
      </div>
      <div class="github">
        <div class="github-btn" id="githubBtnContainer">
          <div class="github-btn-child"></div>
          <b class="github-do-projeto">GitHub do Projeto da Equipe Ace</b>
        </div>
        <div class="github-child"></div>
        <img class="github-item" alt="" src="./public/rectangle-43@2x.png" />
      </div>
      <div class="metas" data-animate-on-scroll>
        <img class="metas-child" alt="" src="./public/rectangle-38.svg" />
        <div class="metas-do-projeto">Metas Do Projeto</div>
        <div class="metas-item"></div>
        <div class="metas-inner"></div>
        <b class="apresentar-dados-referentes-container"
          ><ul class="apresentar-dados-referentes">
            Apresentar dados referentes a época de pandemia e pós pandemia
            retirados pincipalmente do Datasus (Tabnet).
          </ul></b
        ><b class="apresentar-grficos-que-container"
          ><ul class="apresentar-dados-referentes">
            Apresentar gráficos que comparam diversos dados medicos nas esferas
            municipais, estaduais e federais.
          </ul></b
        >
      </div>
      <div class="proposta-gerall">
        <div class="jornalisticamente" data-animate-on-scroll>
          <div class="jornalisticamente-child"></div>
          <img
            class="jornalisticamente-item"
            alt=""
            src="./public/rectangle-37.svg"
          />
          <div class="jornalisticamente-falando">
            Jornalisticamente Falando:
          </div>
          <div class="com-base-na">
            Com base na área de atuação da Rede Vanguarda, seria possível
            tabular dados das principais cidades do Vale do Paraíba, como São
            José dos Campos, Jacareí e Taubaté, o que permitiria a produção de
            algumas reportagens. Embora seja comum que os dados sejam mais
            difíceis de encontrar em nível regional, informações em âmbito
            estadual já seriam suficientes para dar origem a diversas matérias.
            Além disso, dados nacionais também poderiam ser utilizados, sendo
            encaminhados para jornais em todo o país.
          </div>
        </div>
        <div class="texto1">
          <div class="com-a-pandemia-container">
            <span class="com-a-pandemia-container1"
              ><p class="com-a-pandemia">
                Com a pandemia afetando severamente o Brasil, um país que possui
                um sistema universal de saúde, é provável que o cenário
                pós-pandemia acarrete em aumento significativo no atendimento,
                procedimentos, tratamentos e uso de medicamentos relacionados
                aos casos de covid longa.
              </p>
              <p class="blank-line">&nbsp;</p>
              <p class="blank-line">
                No entanto, existem poucos estudos disponíveis para mensurar o
                impacto disso no Sistema Único de Saúde em diferentes níveis
                administrativos. Portanto, a análise aprofundada dos dados do
                Datasus (Tabnet) pode fornecer informações relevantes sobre a
                sobrecarga do sistema de saúde nas esferas municipais, estaduais
                e federais durante o período pós-pandemia.
              </p>
              <p class="blank-line">&nbsp;</p>
              <p class="blank-line">&nbsp;</p></span
            >
          </div>
          <div class="texto1-child"></div>
        </div>
        <div class="proposta">
          <img class="cinza-icon" alt="" src="./public/cinza@2x.png" />
          <div class="verde"></div>
          <div class="titulo">Proposta Do Projeto</div>
        </div>
      </div>
      <div class="menu">
        <img class="fundo-icon" alt="" src="./public/menu@2x.png" />
        <div class="home-btn">
          <button class="image-2"></button>
          <div class="home" id="hOMEText">HOME</div>
        </div>
        <div class="dados-btn">
          <img class="image-4-icon" alt="" src="./public/image-4@2x.png" />
          <div class="home" id="dADOSCOVID">DADOS - COVID 19</div>
        </div>
        <div class="projeto-btn">
          <img class="image-5-icon" alt="" src="./public/image-5@2x.png" />
          <div class="home" id="cONHEAOPROJETO">CONHEÇA O PROJETO</div>
        </div>
        <div class="line"></div>
        <b class="sobre-o-projeto">Sobre o Projeto</b
        ><img class="divisa02-icon" alt="" src="./public/divisa02.svg" /><img
          class="divisa01-icon"
          alt=""
          src="./public/divisa01.svg"
        />
      </div>
    </div>

    <script>
      var githubBtnContainer = document.getElementById("githubBtnContainer");
      if (githubBtnContainer) {
        githubBtnContainer.addEventListener("click", function () {
          window.open(
            "https://github.com/api-fatec-primeiro-semestre/api-primeiro-semestre"
          );
        });
      }
      
      var hOMEText = document.getElementById("hOMEText");
      if (hOMEText) {
        hOMEText.addEventListener("click", function () {
          window.open("https://linkedin.com");
        });
      }
      
      var dADOSCOVID = document.getElementById("dADOSCOVID");
      if (dADOSCOVID) {
        dADOSCOVID.addEventListener("click", function () {
          window.open("https://github.com");
        });
      }
      
      var cONHEAOPROJETO = document.getElementById("cONHEAOPROJETO");
      if (cONHEAOPROJETO) {
        cONHEAOPROJETO.addEventListener("click", function () {
          window.open("https://youtube.com");
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
