<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='quem_somos.css') }}">

{% extends "index.html"%}
{% block conteudo %}

<div>
   

    <div style="background-color:#d0d0d0;text-align:center; margin-top: 0%; size: 5px; padding-bottom: 1%; padding-top: 1%;">

    <img class="imagem1" src="../../static/img/propostadoprojeto.jpg" alt="proposta do projeto">

    </div>

<p class="texto">

    <strong> Com a pandemia afetando severamente o Brasil, um país que possui um sistema universal de saúde, é provavel que o cenario pós-pandemia acarrete em aumento significativo no atendimento, procedimentos, tratamentos e uso de medicamentos relacionados aos casos de covid longa.</strong>
</p>

    

    <div style="background-color:#a0a0a0;text-align:center; margin-top: 4%; size: 10px; padding-top: 1%; padding-bottom: 1%; border-radius: 50px">
    
    <p class="texto">
        <strong> No entanto, existem poucos estudos disponíveis para mensurar o impacto disso no Sistema Único de Saúde em diferentes níveis administrativos. Portanto, a análise aprofundada dos dados do Datasus (Tabnet) pode fornecer informações relevantes sobre a sobrecarga do sistema de saúde nas esferas municipais, estaduais e federais durante o período pós-pandemia.</strong>
    </p>
    
    </div>
    
    

    <div style="background-color:#9bcac0;text-align:center; margin-top: 4%; size: 10px; padding-top: 1%; padding-bottom: 1%; border-radius: 50px">
    <img class="imagem2" src="../../static/img/jornalisticamentefalando.jpg" alt="jornalisticamente falando">
    
    <p class="texto">
        <strong>Com base na área de atuação da Rede Vanguarda, seria possível tabular dados das principais cidades do Vale do Paraíba, como São José dos Campos, Jacareí e Taubaté, o que permitiria a produção de algumas reportagens. Embora seja comum que os dados sejam mais difíceis de encontrar em âmbito regional, informações em âmbito estadual já seriam suficientes para dar origem a diversas matérias. Além disso, dados nacionais também poderiam ser utilizados, sendo encaminhados para jornais em todo país.</strong>
    </p>
    </div>

    <img class="imagem3" src="../../static/img/metasdoprojeto.jpg" alt="metas do projeto">

    <div class="metasprojeto">
        <p class="textoprojeto">1. Agrupar dados sobre contaminações, internações e óbitos das cidades de São José dos Campos, Jacareí e Taubaté, referentes a Covid-19. </p>
    </div>
      
    

    <div class="metasprojeto">
        <p class="textoprojeto">2. Analisar e gerar gráficos dos dados obtidos nos anos de 2020 a 2022.</p>
    </div>
           
    <div class="metasprojeto">
        <p class="textoprojeto">3. Analisar os dados obtidos e comparar com os dados sobre a sindrome respiratória e trombose dos anos de 2020 a 2022 para determinar a possível existencia da sindrome da Covid-longa.</p>
    </div>
    
    <div>
      <img class="imgquemsomos" src="../../static/img/quemsomos.jpg" alt="quem somos">
    </div>

    <img class="lilian" src="../../static/img/lilian.jpg" alt="foto lilian">

    <div style="background-color:#d0d0d0; text-align:center; margin-top: 2%; margin-bottom: 5%; margin-left: 600px; margin-right: 400px; padding-bottom: 1%; padding-top: 1%; border-radius: 30px">
       <h2 id="pessoas">Product Owner: Lilian Ferrão</h2> 
    </div>

    <img class="vitor" src="../../static/img/vitor.jpeg" alt="foto vitor">

    <div style="background-color:#d0d0d0; text-align:center; margin-top: 2%; margin-bottom: 2%; margin-left: 400px; margin-right: 600px; padding-bottom: 1%; padding-top: 1%; border-radius: 30px">
        
        <h2 id="pessoas">Scrum Master: Vitor Leandro</h2> 
     </div>
     
     <img class="development" src="../../static/img/developmentteam.jpg" alt="development team">
    
     <div>

        <img class="team" src="../../static/img/scrumteam.jpg" alt="scrum team">

    </div>
</div>

  

{% endblock %}




