<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/home.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Akshar:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
  </head> 
  <body>
    <div class="HeaderNav">
      <div class="ContainerNav">
        <img class="ImgNav" src="../static/img/image-4@2x.png" /> <a style="text-decoration: none;" href="/dados">DADOS - COVID 19</a>
      </div>

      <div class="ContainerNav" style="border-left: solid;border-right: solid; border-width: 2px">
        <img class="ImgNav" src="../static/img/image-2@2x.png"/> <a style="text-decoration: none;" href="/">Home</a>
      </div>

      <div class="ContainerNav">
        <img class="ImgNav" src="../static/img/image-5@2x.png"/> <a style="text-decoration: none;" href="/quem_somos">CONHEÇA O PROJETO</a>
      </div>
    </div>

    <div class="TitleBar">
      <p class="TitleText">Análise de dados sobre a covid-19</p>
    </div>

    <div>
      {%block conteudo%}

      {%endblock%}
    </div>  
    <br>
    <footer>
      © Copyright - Equipe ACE
    </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>

</html>
