.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../static/img/COVID 19 BANNER.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card1{
    flex-basis: calc(20% - 1%);
    margin: 0 3%;
    
}

.card2{
    flex-basis: calc(20% - 1%);
    margin: 0 3%;
}

p {
    margin: 10%;
    font-size: 20px;
  }

.covid {
    text-align: center;
}

.covidinho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
  }

  .box-container{

  }

  .box1{

  }

  .box2{
    
  }