.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../static/img/COVID 19 BANNER.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
.left-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    width: 400px;
    height: 180px;
    position: relative;
    left: -160px;
    z-index: 1;
}


.card1 {
    line-height: 18px;
    width: 250px;
    height: 180px;
    background-color: #ffd7a9;
    border-radius: 45px;
    padding: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 40px;
    right: -220px;
    z-index: 1;
  }
  
  .card2 {
    line-height: 18px;
    width: 250px;
    height: 215px;
    background-color: #ffd7a9;
    border-radius: 45px;
    padding: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -40px;
    right: -40px;
  }

p {
    margin: 10%;
    font-size: 20px;
  }

.covid {
    text-align: center;
}

.covidinho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 410px;
    margin-left: -145px;
    position:static;
  }

#covid19 {
    font-size: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#dadinhos{
    font-size: 36px;
    line-height: 35px;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.caixa1{
    color: aliceblue;
    background-color: #a897e7;
    outline: 6px dashed rgb(201, 198, 206);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    flex: 1;
    margin: 0 3% 0 10%;
}

.caixa2{
    color: aliceblue;
    background-color: #e48b8d;
    outline: 6px dashed rgb(201, 198, 206);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    flex: 1;
    margin: 0 10% 0 3%;
}

.special{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
