

.Proposta_Projeto{
  padding-bottom: 8%;
  width: 100%;
}

.inicial {
  background-image:linear-gradient(180deg, #00D2AD 0%, #C5AAFF 100%);
  padding: 5%;
}

.Titulo {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  margin: 1%;
}

.Titulo h1 {
  font-size: 300%;
  margin-left: 2%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Titulo a {
  font-size: 100%;
  margin-left: 4%;
  color: black;
  padding: 2px;
}


.sinopse p {
    display: flex;
    margin-left:20%;
    border-radius: 50px;
    padding: 4%;
    background-color: #00D2AD;
    margin-bottom: 1%;
    margin-top: 1%;
    justify-content: flex-end;
    font-size: 125%;
    border-style: solid;
    border-color: #01ac8c;
}



 
.jrnlstcmnt_falando {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #00D2AD;
  margin-top: 4%; 
  size: 5px; 
  border-radius: 50px; 
  width: 75%;
  margin-left: 12%;
  padding: 1%;
  border-width: 5%;
  border-style: solid;
  border-color: #01ac8c;
}

.jrnlstcmnt_falando h2 {
  margin: 3%;
  background-color: #00D2AD;
  margin-top: 4%; 
  border-radius: 50px; 
  width:90%;
  padding: 1%;
  border-width: 5%;
  border-style: solid;
  border-color: #01ac8c;
}


.jrnlstcmnt_falando p {
  margin: 3%;
}

.Metas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 40%;
  width: 100%;
  background-image:linear-gradient(180deg, #C5AAFF 0%, #00D2AD 100%);background-color: #01ac8c;
  padding: 2%;
}

.metasprojeto{
  background-color: #ffffff;
   text-align:center; 
   font-size: 100%;
   width: 60%;
   border-color: #01ac8c;
   border-width: 10px;
   border-style: double;
  margin-top: 4%; 
  size: 5px; 
  border-radius: 50px; 
  width: 75%;
  padding: 1%;
  border-width: 5%;
  }

.Titulo-meta {
  background-color: #ffffff;
  font-size: 200%;
  text-align: center;
  padding: 5%;
  border-radius: 50px ;
  border-color: #01ac8c;
  border-width: 10px;
  border-style: double;
}

.Dev-Team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #011E36;
  padding: 2%;
  margin-bottom: 1%;

}

.Titulo-DT h1 {
  font-size: 250%;
  text-align: center;
  width: 90%;
  padding: 5%;
  color: white;
}

.Team {
  border-color: #01ac8c;
  border-style: solid;
  padding: 5%;
  margin: 2%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 60%;
}

.Team img {
  width: 40%;

}

.qr-code a {
  margin-left: 45%;
  width: 45%;
  border-radius: 15%;
}

