.imagem1{
  border-radius: 30px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 0;
  width: 400px;
  width: 500px;
}

.imagem2{
  border-radius: 30px;
  align-self: center;
  margin-top: -50px;
  margin-bottom: 0;
  margin-right: 800px;
  width: 340px;
}

.imagem3{
  border-radius: 30px;
  align-self: center;
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: 35%;
  width: 400px;
  width: 500px;
}

.vitor{
  border-radius: 30px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: -140px;
  margin-left: 65%;
  width: 100px
}

.lilian{
  border-radius: 30px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: -130px;
  margin-left: 30%;
  width: 100px
}

p{
text-align: justify;
margin-left: 10%;
margin-right: 10%;
font-size: 150%;
}

.textoprojeto{
text-align: justify;
margin-left: 10%;
margin-right: 10%;
font-size: 150%;
font-style: oblique
}

.metasprojeto{
 background-color:#d0d0d0;
 text-align:center; 
 margin-top: 2%; 
 margin-left: 20%;
 margin-right: 20%; 
 padding-bottom: 1%; 
 padding-top: 1%; 
 border-radius: 30px
}

.imgquemsomos{
  border-radius: 30px;
  align-self: center;
  margin-top: 60px;
  margin-bottom: 2%;
  margin-left: 40%;
  width: 350px;
}

.development{
text-align:center; 
margin-top: 2%; 
margin-left: 25%;
margin-right: 20%; 
padding-bottom: 1%; 
padding-top: 2%;
size: 80%
}

.team{
  text-align:center; 
  margin-top: 2%; 
  margin-right: 30%; 
  margin-left: 17%;
  padding-bottom: 1%; 
  padding-top: 2%;
}