body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --chart-text: Roboto;
  --font-akshar: Akshar;

  /* font sizes */
  --chart-text-size: 11px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-19xl: 38px;
  --font-size-3xl: 22px;
  --font-size-13xl: 32px;

  /* Colors */
  --white: #fff;
  --color-gray-100: #949494;
  --quarta: #1c1d41;
  --black: #000;
  --color-teal: #007d67;
  --color-gainsboro: #d9d9d9;
  --quinta: #f1f1f1;
  --color-mediumaquamarine: #00d2ad;
  --color-silver: #c4c4c4;
  --gray: #d4d4d4;

  /* Gaps */
  --gap-8xs: 5px;

  /* Paddings */
  --padding-23xl: 42px;

  /* border radiuses */
  --br-21xl: 40px;
}
