<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Akshar:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <div class="menu-inferior">
        <div class="contato-exemplo-1-container">
          <p class="contato">CONTATO</p>
          <p class="selecione-os-filtros-para-faze">Exemplo 1</p>
          <p class="selecione-os-filtros-para-faze">Exemplo 2</p>
          <p class="selecione-os-filtros-para-faze">Exemplo 3</p>
          <p class="selecione-os-filtros-para-faze">Exemplo 4</p>
        </div>
        <div class="links-externos-exemplo-container">
          <p class="contato">Links Externos</p>
          <p class="selecione-os-filtros-para-faze">Exemplo 1</p>
          <p class="selecione-os-filtros-para-faze">Exemplo 2</p>
          <p class="selecione-os-filtros-para-faze">Exemplo 3</p>
          <p class="selecione-os-filtros-para-faze">Exemplo 4</p>
        </div>
        <div class="rodap">
          <div class="fonte-datasus-tabnet">
            Fonte: DATASUS (Tabnet) – Dados de 2019 a 2022
            (https://datasus.saude.gov.br/home/tabnet/)
          </div>
        </div>
      </div>
      <div class="filtros-e-grficos">
        <div class="tela">
          <div class="ttulo-do-grfico">Título do Gráfico</div>
          <div class="dado-absoluto-1-container">
            <p class="selecione-os-filtros-para-faze">
              Dado absoluto 1: 123456
            </p>
            <p class="selecione-os-filtros-para-faze">
              Dado absoluto 2: 789456
            </p>
          </div>
        </div>
        <div class="ano-2019">Ano: 2019</div>
        <div class="filtros-e-grficos-child"></div>
        <div class="ano-2022">Ano: 2022</div>
        <div class="filtros-e-grficos-item"></div>
      </div>
      <div class="texto-explicao-categoria">
        <div class="texto-sobre-algumas">
          Texto sobre algumas relações pertinentes que já conseguimos
          identificar nos dados relativos à categoria escolhida, como uma
          pré-pesquisa, e que podem indicar a presença de covid longa. Seriam
          relações interessantes para o cliente explorar.
        </div>
        <div class="selecione-os-filtros-container">
          <span class="selecione-os-filtros-container1"
            ><p class="selecione-os-filtros-para-faze">
              <span>Selecione os filtros para fazer uma pesquisa sobre </span
              ><b class="consultas">consultas</b>
            </p>
            <p class="selecione-os-filtros-para-faze">
              e os anos para a comparação dos dados.
            </p></span
          >
        </div>
        <div class="pesquisa">
          <div class="pesquisa-child"></div>
          <div class="ano">
            <div class="ano-child"></div>
            <img
              class="a22f7f20c8744e9c490211d7cff0f-icon"
              alt=""
              src="../static/img/824a22f7f20c8744e9c490211d7cff0f-4.svg"
            /><img class="icone-seta" alt="" src="../static/img/iconeseta@2x.png" />
            <div class="anos">Anos</div>
            <div class="espaamento"></div>
            <img
              class="a22f7f20c8744e9c490211d7cff0f-icon1"
              alt=""
              src="../static/img/824a22f7f20c8744e9c490211d7cff0f-4.svg"
            />
            <div class="div">2021</div>
          </div>
          <button class="pesquisa-item"></button
          ><img class="icone-seta1" alt="" src="../static/img/iconeseta1@2x.png" />
          <div class="cidade">Cidade</div>
          <div class="exemplo-medicamento">Exemplo Consulta</div>
          <div class="espaamento1"></div>
          <button class="pesquisa-inner"></button
          ><img class="icone-seta2" alt="" src="../static/img/iconeseta2@2x.png" />
          <div class="medicameto">Consulta</div>
          <div class="exemplo-cidade">Exemplo Cidade</div>
          <div class="btn-buscar"><div class="buttom">Buscar</div></div>
          <div class="btn-redefinir"><div class="buttom">Redefinir</div></div>
          <div class="div1">2019</div>
          <div class="div2">2020</div>
          <div class="div3">2022</div>
        </div>
        <img
          class="iconmonstr-checkbox-checked-th"
          alt=""
          src="../static/img/iconmonstrcheckboxcheckedthin-1.svg"
        /><img
          class="iconmonstr-checkbox-checked-th1"
          alt=""
          src="../static/img/iconmonstrcheckboxcheckedthin-1.svg"
        />
      </div>
      <div class="sesso-categoria">
        <div class="sesso-categoria-child"></div>
        <div class="sesso-categoria-item"></div>
        <button class="sesso-categoria-inner"></button
        ><button class="rectangle-button"></button
        ><button class="sesso-categoria-child1"></button>
        <div class="rectangle-div"></div>
        <div class="sesso-categoria-child2"></div>
        <div class="sesso-categoria-child3"></div>
        <div class="sesso-categoria-child4"></div>
        <div class="escolha-uma-categoria">
          Escolha uma categoria para a sua pesquisa:
        </div>
        <div class="tratamentos">Tratamentos</div>
        <div class="medicamentos">Medicamentos</div>
        <div class="consultas1">Consultas</div>
        <div class="noun-procedure-4225311-1">
          <img class="group-icon" alt="" src="../static/img/group.svg" />
          <div class="procedimentos">Procedimentos</div>
        </div>
        <img
          class="consulta-1-icon"
          alt=""
          src="../static/img/consulta-1@2x.png"
        /><img
          class="tratameto-1-icon"
          alt=""
          src="../static/img/tratameto-1@2x.png"
        /><img class="medicao-1-icon" alt="" src="../static/img/medicao-1@2x.png" />
      </div>
      <div class="menu-superior">
        <div class="menu-superior1">
          <img
            class="menu-superior-child"
            alt=""
            src="../static/img/rectangle-2.svg"
          /><img
            class="menu-superior-item"
            alt=""
            src="../static/img/rectangle-16.svg"
          /><img
            class="menu-superior-inner"
            alt=""
            src="../static/img/rectangle-17.svg"
          />
          <div class="home">HOME</div>
          <div class="dados-covid">DADOS - COVID 19</div>
          <div class="conhea-o-projeto">CONHEÇA O PROJETO</div>
          <img class="image-2-icon" alt="" src="../static/img/image-2@2x.png" /><img
            class="image-4-icon"
            alt=""
            src="../static/img/image-4@2x.png"
          /><img class="image-5-icon" alt="" src="../static/img/image-5@2x.png" />
        </div>
        <div class="header">
          <b class="anlise-de-dados">Análise de dados sobre a covid-19</b>
        </div>
      </div>
      <div class="graph">
        <div class="left-side-y-axis">
          <div class="y-axis-items">
            <div class="axisitem">
              <div class="jan">100</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-8.svg" />
            </div>
            <div class="axisitem">
              <div class="jan">90</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-81.svg" />
            </div>
            <div class="axisitem">
              <div class="jan">80</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-82.svg" />
            </div>
            <div class="axisitem">
              <div class="jan">70</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-83.svg" />
            </div>
            <div class="axisitem">
              <div class="jan">60</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-84.svg" />
            </div>
            <div class="axisitem">
              <div class="jan">50</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-85.svg" />
            </div>
            <div class="axisitem">
              <div class="jan">40</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-86.svg" />
            </div>
            <div class="axisitem">
              <div class="jan">30</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-87.svg" />
            </div>
            <div class="axisitem">
              <div class="jan">20</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-88.svg" />
            </div>
            <div class="axisitem">
              <div class="jan">10</div>
              <img class="axisitem-child" alt="" src="../static/img/vector-8.svg" />
            </div>
          </div>
          <img class="y-axis-line" alt="" src="../static/img/y-axis-line.svg" />
        </div>
        <div class="right-side-graph-and-x-axis">
          <div class="line-graph">
            <img class="two-lines-icon" alt="" src="../static/img/two-lines.svg" />
          </div>
          <div class="x-axis">
            <img class="x-axis-line" alt="" src="../static/img/x-axis-line.svg" />
            <div class="x-axis-items">
              <div class="axisitem10">
                <input class="vector-input" type="text" />
                <div class="jan">Jan</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-89.svg"
                />
                <div class="jan">Fev</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-810.svg"
                />
                <div class="jan">Mar</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-811.svg"
                />
                <div class="jan">Abr</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-812.svg"
                />
                <div class="jan">Mai</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-813.svg"
                />
                <div class="jan">Jun</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-814.svg"
                />
                <div class="jan">Jul</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-815.svg"
                />
                <div class="jan">Ago</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-816.svg"
                />
                <div class="jan">Set</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-817.svg"
                />
                <div class="jan">Out</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-818.svg"
                />
                <div class="jan">Nov</div>
              </div>
              <div class="axisitem10">
                <img
                  class="axisitem-child7"
                  alt=""
                  src="../static/img/vector-819.svg"
                />
                <div class="jan">Dez</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
