<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='consulta.css') }}">
{% extends "dados/dados.html"%}
{% block teste %}

    <div class="infoContainer">
        <div>
            <br>
            <p>
                A Covid longa, ou “pós-Covid”, é uma condição caracterizada por sintomas 
                persistentes a partir de 4 semanas após a infecção pelo vírus da COVID-19 
                (SARS-CoV-2) e a sua continuidade após o fim da infecção. Cerca de 10% a 20% das 
                pessoas infectadas podem desenvolver a Covid longa, de acordo com a Organização 
                Pan-Americana da Saúde (OPAS). No Brasil, um estudo da Fiocruz identificou 
                sintomas pós-infecção em cerca de 50% das pessoas diagnosticadas com Covid-19.
                Diversas instituições e pesquisadores estão investigando a Covid longa para 
                entender melhor suas manifestações. 
            </p>
            <p> Os sintomas incluem fadiga, falta de ar, problemas mentais, dores no 
                corpo, problemas cardíacos, circulatórios e de sono. A condição pode durar semanas, 
                meses ou mais, e não há teste específico para diagnosticá-la. Quem teve a 
                doença de forma mais grave, comorbidades anteriores e não foi vacinado tem maior 
                probabilidade de desenvolvê-la. O mecanismo exato de suas causas ainda está sendo 
                estudado, mas acredita-se que a inflamação causada pela infecção seja responsável 
                pelos sintomas. O diagnóstico pode ser desafiador, pois os exames podem parecer 
                normais. 
            </p>

            <p> A melhor forma de prevenir os sintomas da Covid longa é evitar a infecção pelo 
                SARS-CoV-2, e a vacinação tem sido associada a um menor risco de desenvolvê-la. 
                O acompanhamento médico, exercícios respiratórios e fisioterapia podem ajudar 
                no tratamento dos sintomas e a melhorar a qualidade de vida das pessoas afetadas. 
            </p>
            <p style="font-size: 1rem;">
                Fontes:
            <br>
                <a href="https://www.pfizer.com.br/noticias/ultimas-noticias/covid-longa" target="_blank" >O que é covid longa e quais os efeitos dela? – Pfizer</a>
            <br>
                <a href="https://portal.fiocruz.br/noticia/pesquisa-da-fiocruz-avalia-sindrome-da-covid-longa#:~:text=A%20pesquisa%20acompanhou%2C%20por%2014,OMS)%20classifica%20como%20Covid%20longa." target="_blank" >Pesquisa da Fiocruz avalia síndrome da Covid longa – Portal Fiocruz</a>
            </p>    
            <br>
            <p>
                Selecione filtros para fazer uma pesquisa sobre consultas e os anos para comparação dos dados.
            </p>
        </div>

        <form method="POST" class="searchContainer">

            <div class="col-md-3 form-group">
                <select class="form-control" name='cidade' id="cidade">
                    {% for cidade in Options['cidades'] %}
                        <option value={{cidade.value}}>{{cidade.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3 form-group">
                <select class="form-control" name='consulta' id="consulta">
                    {% for consulta in Options['consultas'] %}
                        <option value={{consulta.value}}>{{consulta.name}}</option>
                    {% endfor %} 
                </select>
            </div>

            <div class="col-md-2 form-group">
                <select class="form-control" name='ano' id="ano">
                    {%for ano in Options['anos']%}
                        <option value={{ano}}>{{ano}}</option>
                    {%endfor%}
                </select>
            </div>
        
            <button type="submit" class="btn btn-primary">Buscar</button>

        </form>
        <canvas id="lineChart" width="900" height="400"></canvas>
        <script>
            
            var ctx = document.getElementById('lineChart').getContext("2d");
            var lineChart = new Chart(ctx,{
                type: 'line',
                data:{
                    labels: ['JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET', 'OUT', 'NOV', 'DEZ' ],
                    datasets: [
                        {
                            label: $('#consulta').val(),
                            data: {{data.grafico | safe}},
                            fill: false,
                            borderColor: "#ce2a96ff",
                            lineTension: 0.1
                        },
                        {
                            label: 'Casos de Covid',
                            data: {{data.covid | safe}},
                            fill: false,
                            borderColor: "#00d2adff",
                            lineTension: 0.1
                        },
                        
                    ]
                },
                options: {
                    responsive: false
                }
            });
        </script>
    </div>
{%endblock%}